*.egg-info/
__pycache__/
.pytest_cache/
*.pyc
paper/build_*/
paper/compile_*/
paper/qa_*/
paper/tectonic_probe/
*.aux
*.bbl
*.blg
*.log
*.out
*.xdv
.tectonic-cache/
tmp/
*_submission_package_*/
classification_*.png
classification_*.jpg
